<mat-toolbar class="mat-elevtion-z3">
<div class="main-dashboard">
  <div class="logo">
    <div class="iconfinder-vector" ></div>
    <div class="text-wrapper-2">Bank of Africa</div>
  </div>
  </div>

<label class="label-header"> E-Banking App</label>

<div mat-icon-button [matMenuTriggerFor]="menu">
  <button mat-icon-button   >
    <mat-icon>login</mat-icon>
  </button>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item   (click)="logout()">
    <mat-icon>logout</mat-icon> Logout
  </button>
</mat-menu>


</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="'175px'"> 
    <app-sidenav></app-sidenav>
  </mat-sidenav>
    <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>


</mat-sidenav-container>


